body {
    background-image: linear-gradient(to bottom right, black, gray);
    }

h1 {
    color: #0077cc;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #0077cc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-left: 40%;
}

input, input[type="password"], input[type="email"], input[type="file"], select, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 80px;
    font-family: Arial, sans-serif;
}

select {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
}

input[type="file"] {
    border: none;
    padding: 0;
    font-size: 14px;
}

button {
    background-color: #0077cc;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005fa3;
}